<p-sidebar-layout>
  <p-sidebar id="navbar" [(open)]="open">
    <p-sidebar-spacer />
    <p-sidebar-aside>
      <p-sidebar-panel>
        <p-sidebar-header>
          <p-sidebar-menu>
           <p-sidebar-menu-item>
            <button pSidebarMenuButton class="px-1!">
              <div class="flex size-6 shrink-0 items-center justify-center rounded-md bg-linear-to-br from-violet-500 to-indigo-600 text-white text-xs font-bold leading-none">J</div>
              <span class="font-semibold text-sm">Job Tracker</span>
            </button>
          </p-sidebar-menu-item>
        </p-sidebar-menu></p-sidebar-header>
        <p-sidebar-content>
          <p-sidebar-group>
            <p-sidebar-group-label>Menu</p-sidebar-group-label>
            <p-sidebar-group-content>
              <p-sidebar-menu>
                @for (item of navMenuItems; track item.label){
                  <p-sidebar-menu-item>
                    <a pSidebarMenuButton
                       [routerLink]="item.route"
                       routerLinkActive
                       #rla="routerLinkActive"
                       [isActive]="rla.isActive"
                    >
                      <i [class]="item.icon"></i>
                      <span>{{item.label}}</span>
                    </a>
                  </p-sidebar-menu-item>
                }
              </p-sidebar-menu>
            </p-sidebar-group-content>
          </p-sidebar-group>
        </p-sidebar-content>
        <p-sidebar-footer>...</p-sidebar-footer>
      </p-sidebar-panel>
    </p-sidebar-aside>
  </p-sidebar>
  <p-sidebar-main>
    <header class="flex h-12 items-center gap-2 border-b border-(--p-content-border-color) px-4">
      <button pButton pSidebarTrigger target="navbar" severity="secondary" text size="large">
        <i class="pi pi-sidebar"></i>
      </button>
    </header>
    <router-outlet />
  </p-sidebar-main>
</p-sidebar-layout>
